@font-face {
  font-family: 'Raleway-Bold';
  src:url('../fonts/raleway/bold/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway-Regular';
  src:url('../fonts/raleway/Regular/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src:url('../fonts/roboto/regular/Raleway-Regular.ttf');
}