.tags {
    &-list {
      padding-top: 28px;
      padding-left: 3px;
        &-item{
          display: inline-block;
        }
        &-link{
          color: #a1a1a1;
          border:1px solid #dedede;
          text-decoration: none;
          padding: 5px 10px 5px 10px;
          display: block;
          margin-right: -1px;
          font-size: 18px;
          margin-bottom: 2px;
          &:hover {
            color: #fff;
            background-color: $akcentColor;
            transition: all linear 300ms;
          }
        }
    }
}